version: "3.9"

services:

  backend:
    build: ./backend
    container_name: hiresense_backend
    ports:
      - "8200:8200"
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    build: ./frontend
    container_name: hiresense_frontend
    ports:
      - "8501:8501"
    depends_on:
      - backend
    restart: always
